@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Merriweather&display=swap');

// Config vars
// Colton's brand colors 022B3A 
$prussian-blue: #13293D
$carolina-blue: #1B98E0
$pale-aqua: #BFDBF7
$azureish-white: #E1E5F2

$primary: $prussian-blue
$body-color: #333
$family-sans-serif: 'Fira Sans', sans-serif
$family-serif: 'Merriweather', serif

body
  font-family: $family-serif

.title, .is-size-2, .navbar-item
  font-family: $family-sans-serif

.navbar .navbar-menu
  box-shadow:none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.content .tag-count
  font-size: 0.7rem
  position: relative
  top: -5px

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: $carolina-blue
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px $carolina-blue
    box-shadow: inset 0 0 0 2px $carolina-blue
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

//Menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: #fff
$menu-item-active-background-color:	#fff
$menu-list-border-left: 1px solid #fff
$menu-label-color: $white-ter


.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #dce9eb
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0

.no-route
  height: 60vh
.no-route h1 
  font-size: 6rem
  margin: auto
  font-family: $family-sans-serif

.has_bg_color 
  background-image: linear-gradient(to right, yellow, white)
  width: 50%
  padding: 6px

.is_bigscreen
  height: 50vh

.tag_link:hover
  color: blue

@import "~bulma"

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;
  .full-width-image
    margin: auto
    position: relative
    width: 100%; 
    background-attachment: bottom center
